@import 'src/assets/variables';

.contact {
  flex: 1;
  min-width: 45%;
  max-width: 45%;
  padding: 1.2rem;
  font-size: 1.6rem;
  margin: 1.2rem 0;
  position: relative;

  @media (max-width: 768px) {
    min-width: 100%;
    max-width: 100%;
  }

  .contactName {
    cursor: pointer;
    padding-bottom: 1.2rem;
    width: 100%;
    border-bottom: 2px solid $green;
  }
}