@import 'src/assets/variables';

.alphabetChar {
  all: unset;
  box-sizing: border-box;
  min-width: 50px;
  flex: 1;
  text-align: center;
  position: relative;
  background:  linear-gradient(to right, $peach, $orange);
  padding: 1.6rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 1px;
  border-radius: 0 8px 0 0;
  transition: all .4s;
  bottom: 0;

  &:hover {
    bottom: -10px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: unset;
    &:hover {
      bottom: 0;
    }
  }

  .count {
    position: absolute;
    font-size: 1.2rem;
    color: #535353;
    right: 5px;
    bottom: 5px;
  }
}

.selected {
  bottom: -10px;
}